{% extends "base.html" %}

{% block title %}Password reset{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    
    <div class="container col-4 flex-column justify-content-center" style="margin-top:70px;background-color:#edf0f2;">
        <div>
            {% if messages %}
                <p class="ms-2" style="color:#00b33c;">{% for mess in messages %}{{mess}}{% endfor %}</p>
            {% endif %}
        </div>
        <div class="" style="">
            <form method="POST">
                {% csrf_token %}
                <legend class="justify-content-end border-bottom">Reset password.</legend>
                {{ form|crispy }}
                <button type="submit" class="btn mt-3" style="background-color:#00b33c;color:#ffffff;">Reset</button>
            </form>
        </div>
    </div>

{% endblock content %}
